# Ignore everything
*

# Allow all directories (so Git can search them)
!*/
!*/src
!*/subprojects

# Allow specific file types
!*.c
!*.cc
!*.cxx
!*.cpp
!*.h
!*.hh
!*.hxx
!*.hpp

!*.md
!*.sh
!*.build
!*.wrap
!*.txt

# Allow specific config files
!.gitignore

